<form [formGroup]="form">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" required>
    <span>(Will be disabled if value is 3)</span>
    <pre>{{ backpack.retrieve(form.controls['firstName']).computedProperties | json }}</pre>


    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" formControlName="lastName" [readonly]="backpack.queryComputed(form.controls['lastName'], 'isReadonly')">
    <span>(Will be readonly if first name is 4)</span>
    <pre>{{ backpack.retrieve(form.controls['lastName']).computedProperties | json}}</pre>
</form>

<h3><b>Error count: </b></h3>
<div>Root: {{ errorCounter.query(form) }}</div>
<div>addresses: {{ errorCounter.query(form.controls['addresses']) }}</div>
<div>addresses.0: {{ errorCounter.query(form.get('addresses.0')!) }}</div>


<h3><b>Error report: </b></h3>
<pre>{{ errorReport | json }}</pre>
